<ion-header-bar align-title="center" style="background-color: #F521A2 ">
	<div class="buttons">
		<button style="color: white" class="button button-icon icon ion-arrow-left-c" ng-click="home()">
			Vissza
		</button>
	</div>
	<h1 style="color: white"  class="title">iBabyLife</h1>
</ion-header-bar>
<ion-content style="padding: 10px">

	<button class="button button-block button-pink">
		{{fotoalbum.albumName}} fotóalbuma
	</button>
	<div class="item item-text-wrap" >
		Válaszd ki, hogy melyik naptól meddig szeretnél INGYENES online albumot készíttetni. Válassz, hogy hány fotó legyen benne! Az iBabyLife applikáció a megadott időszakból választ képeket és készít neked egy online megosztható INGYENES fotóalbumot a {{fotoalbum.albumName}} albumból.
		Az album melletti kis <i  class="icon ion-gear-a"></i>  segítségével tekintheted meg és oszthatod meg ismerőseiddel. 

	</div>

	<label class="item item-input"><span  class="input-label">Mettől ?</span>
		<input onchange="angular.element(this).scope().albumFromDateChanged(this)" type="text" id="albumFromDate" ng-model="data.albumFromDate"   class="date i-txt" />
	</label>
	<label class="item item-input"><span  class="input-label">Meddig ?</span>
		<input onchange="angular.element(this).scope().albumToDateChanged(this)" type="text" id="albumToDate" ng-model="data.albumToDate"  class="date i-txt" />
	</label>
	<div class="card" >

		<button ng-if="!photoAlbum20"  class="button button-block button-light icon ion-images" ng-click="newPhotoAlbum(20)" >
			20 képes fotóalbum
		</button>

		<div ng-if="photoAlbum20" class="row" style="margin: 0;padding: 0" >
			<div class="col col-80" style="margin: 0;padding: 0">
				<button  class="button button-block button-light icon ion-ios7-compose-outline" >
					20 képes fotóalbum <i style="color: green" class="icon ion-checkmark"></i>
				</button>
			</div>
			<div  class="col col-20" style="margin: 0;padding: 0">
				<button  class="button button-block button-light icon ion-gear-a" ng-click="show(20)"></button>
			</div>
		</div>

		<button ng-if="!photoAlbum50"  class="button button-block button-light icon ion-images" ng-click="newPhotoAlbum(50)" >
			50 képes fotóalbum
		</button>
		<div ng-if="photoAlbum50" class="row" style="margin: 0;padding: 0">
			<div class="col col-80" style="margin: 0;padding: 0">
				<button  class="button button-block button-light icon ion-ios7-compose-outline"  >
					50 képes fotóalbum <i ng-if="photoAlbum50" style="color: green" class="icon ion-checkmark"></i>
				</button>
			</div>
			<div  class="col col-20" style="margin: 0;padding: 0">
				<button  class="button button-block button-light icon ion-gear-a" ng-click="show(50)" ></button>
			</div>
		</div>

		<button ng-if="!photoAlbum80"  class="button button-block button-light icon ion-images" ng-click="newPhotoAlbum(80)" >
			80 képes fotóalbum
		</button>
		<div ng-if="photoAlbum80" class="row" style="margin: 0;padding: 0">
			<div class="col col-80" style="margin: 0;padding: 0">
				<button  class="button button-block button-light icon ion-ios7-compose-outline"  >
					80 képes fotóalbum <i ng-if="photoAlbum80" style="color: green" class="icon ion-checkmark"></i>
				</button>
			</div>
			<div  class="col col-20" style="margin: 0;padding: 0">
				<button  class="button button-block button-light icon ion-gear-a" ng-click="show(80)" ></button>
			</div>
		</div>
	</div>

	<!--
	<div style="padding-top : 10px" class="card">
	<div class="item item-text-wrap">
	A fotóalbum elkészült. <a style="color:  #F521A2" ng-click="linkMegnyitas(photoAlbumUrl)">Ezen</a> a linken tekinthető meg .
	</div>
	<button id="facebook" ng-click="facebookShare(photoAlbumUrl)" class="button button-block button-positive icon ion-social-facebook" >
	Megosztás
	</button>
	-->
	</div>

</ion-content>